ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
}

li a {
    display: block;
    width: 60px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}

li {
    float: left;
}

p {
    overflow: hidden;
}

body {
    top: auto;
    bottom: auto;
    
}

